<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>방방곡곡 홈페이지</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/bootstrap/css/style.css">
    <link href="/vendor/bootstrap/css/style-responsive.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
</head>

<body>
    <div id="toggle-menu" class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color:black"></div>
    </div>
    <!-- Sidebar -->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <ul class="sidebar-menu" id="nav-accordion">
                <h3 class="centered" style="color:bisque">방방곡곡</h3>
                <li class="mt">
                    <a href="/">
                            <i class="fa fa-dashboard" style="color:#20B38E"></i>
                            <span style="color:#20B38E">홈화면</span>
                        </a>
                </li>
                <li class="sub-menu">
                    <a href="/notice" style="color:yellow">
                            <i class="fa fa-tasks" style="color:yellow"></i>
                            <span>공지사항</span>
                        </a>
                </li>
                <li class="sub-menu">
                    <a href="/main" style="color:deeppink;">
                            <i class="fa fa-desktop" style="color:deeppink;"></i>
                            <span>방송 화면</span>
                        </a>
                </li>
                <li class="sub-menu">
                    <a href="/story" style="color:darkorange">
                            <i class=" fa fa-bar-chart-o" style="color:darkorange"></i>
                            <span>여행지 신청하기</span>
                        </a>
                </li>
                <li class="sub-menu">
                    <a href="/review" style="color:darkseagreen">
                            <i class="fa fa-tasks" style="color:darkseagreen"></i>
                            <span>후기 남기기</span>
                        </a>
                </li>
                <li class="sub-menu">
                    <a href="#" onclick="loginout(event)" style="color:cornflowerblue">
                            <i class="fa fa-google" aria-hidden="true"></i>
                            <span id="AUTH_STATE" class="blue-text">(인증되지 않음)</span>
                        </a>
                </li>
            </ul>
        </div>
    </aside>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <section id="main-content">
        <section class="wrapper">
            <div class="container-fluid">
                <br>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">공지사항</a>
                    </li>
                </ol>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                               <!-- controller.js에서 result값들을 notice로 받아옴(list형태) -->
                                <% notice.forEach((item)=>{ %>
                                    <tr class='clickable-row'>
                                        <td style="width:13%;">
                                            <%= item.Notice_ID %>
                                        </td>
                                        <td style="width:50%;">
                                            <a href="/notice/<%= item.Notice_ID %>">
                                                <%= item.Notice_Title %>
                                            </a>
                                        </td>
                                        <td>
                                            관리자
                                        </td>
                                        <td>
                                            <%= new Date(item.Notice_Date).toLocaleString() %>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/row -->
        </section>
        <div id="addiv"><img src="img/ad.JPG">
        </div>
    </section>
    <!-- /#page-content-wrapper -->




    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="/vendor/bootstrap/js/common-scripts.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/js/sb-admin-datatables.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script>
    <script src="/firebase/firebase.js"></script>
    <script src="/firebase/firebase_use.js"></script>

</body>

</html>